.MenuSection__root__cs01I.__wab_instance {
  object-fit: cover;
  position: relative;
  color: var(--token-Tf-4kMw6Juox);
  font-family: var(--token-TRASPbHxa2WW);
  font-size: var(--token-nmMmwmLKCJSv);
  line-height: var(--token-dgzuTUUD1mTO);
}
.MenuSection__freeBox__woch {
  display: flex;
  flex-direction: row;
  padding: var(--token-1yAWlEHsqo04) var(--token-rbYqH4jbuV2k);
}
.MenuSection__slotTargetHeader__jTBzF {
  font-weight: 600;
}
