.RadioGroup__ariaRadioGroup__pNoDe.__wab_instance {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-Sf7MisVjeNs9);
}
.RadioGroup__ariaRadioGroup__pNoDe[data-disabled].__wab_instance {
  opacity: 0.5;
}
.RadioGroup__freeBox___0Dshh {
  position: relative;
  display: flex;
  flex-direction: column;
}
.RadioGroup__freeBox___0Dshh > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Sf7MisVjeNs9));
  height: calc(100% + var(--token-Sf7MisVjeNs9));
}
.RadioGroup__freeBox___0Dshh > .__wab_flex-container > *,
.RadioGroup__freeBox___0Dshh > .__wab_flex-container > .__wab_slot > *,
.RadioGroup__freeBox___0Dshh > .__wab_flex-container > picture > img,
.RadioGroup__freeBox___0Dshh
  > .__wab_flex-container
  > .__wab_slot
  > picture
  > img {
  margin-top: var(--token-Sf7MisVjeNs9);
}
.RadioGroup__radio___0Siy7.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__radio__cmTwk.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__radio__lvYb.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__description__pwd0S.__wab_instance.__wab_instance {
  position: relative;
}
