.Radio__ariaRadio__dSlKs.__wab_instance {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-Tf-4kMw6Juox);
  font-family: var(--token-TRASPbHxa2WW);
  font-size: var(--token-nmMmwmLKCJSv);
  line-height: var(--token-dgzuTUUD1mTO);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-1yAWlEHsqo04);
}
.Radio__ariaRadio__dSlKs[data-disabled].__wab_instance {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.Radio__freeBox___06REl {
  display: flex;
  position: relative;
  width: var(--token-Xw6x3p7snPpg);
  height: var(--token-Xw6x3p7snPpg);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-EQ6qzkB1yyvY);
}
.Radio__ariaRadio__dSlKs[data-selected] .Radio__freeBox___06REl {
  background: var(--token-hlcyQeU5AGn0);
  border-color: var(--token-hlcyQeU5AGn0);
}
.Radio__ariaRadio__dSlKs[data-focus-visible] .Radio__freeBox___06REl {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-hlcyQeU5AGn0);
  outline-width: 2px;
}
.Radio__freeBox__cyUtV {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.Radio__ariaRadio__dSlKs[data-selected] .Radio__freeBox__cyUtV {
  width: var(--token-KUTLCZWvE9WI);
  height: var(--token-KUTLCZWvE9WI);
  flex-shrink: 0;
  display: block;
}
