.Button__root__xgbPs.__wab_instance {
  position: relative;
  background: var(--token-hlcyQeU5AGn0);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-1yAWlEHsqo04);
  font-family: var(--token-TRASPbHxa2WW);
  font-size: var(--token-nmMmwmLKCJSv);
  line-height: var(--token-dgzuTUUD1mTO);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-KUTLCZWvE9WI);
  padding: 0rem;
  border-width: 0px;
}
.Button__root__xgbPs[data-focus-visible].__wab_instance {
  outline-style: solid;
  outline-width: var(--token-mEZgaqjRWBkr);
  outline-offset: 1px;
  outline-color: var(--token-hlcyQeU5AGn0);
}
.Button__root__xgbPs[data-disabled].__wab_instance {
  cursor: not-allowed;
}
.Button__rootcolor_neutral__xgbPsrjuyc.__wab_instance {
  background: var(--token-lhIwRk369-Nj);
}
.Button__rootcolor_muted__xgbPs3CIj.__wab_instance {
  background: var(--token-K5bNL6AU_0EB);
}
.Button__rootcolor_success__xgbPso2CMc.__wab_instance {
  background: var(--token-s2waLHZB92hv);
}
.Button__rootcolor_warning__xgbPsPfgTi.__wab_instance {
  background: var(--token-imMKOlmKkLMZ);
}
.Button__rootcolor_errorDestructive__xgbPspzRJc.__wab_instance {
  background: var(--token-JXrnvy6fybi8);
}
.Button__roottype_soft__xgbPsZ1DKg.__wab_instance {
  background: none;
}
.Button__roottype_bordered__xgbPsRsVQ.__wab_instance {
  background: none;
}
.Button__rootsize_extraSmall__xgbPs6Sg0O.__wab_instance {
  line-height: var(--token-YyjBNC07n7ie);
  font-size: var(--token-m97AIwKctmUg);
  column-gap: var(--token-mEZgaqjRWBkr);
  row-gap: 0px;
  border-radius: var(--token-Sf7MisVjeNs9);
}
.Button__rootsize_small__xgbPsyOlM7.__wab_instance {
  font-size: var(--token-m97AIwKctmUg);
  line-height: var(--token-YyjBNC07n7ie);
  column-gap: var(--token-Sf7MisVjeNs9);
  row-gap: 0px;
  border-radius: var(--token-Sf7MisVjeNs9);
}
.Button__rootsize_large__xgbPsBHgii.__wab_instance {
  font-size: var(--token-sy0p7LKs93CB);
  line-height: var(--token-eEaqk8ABky-p);
}
.Button__rootsize_extraLarge__xgbPsDd4HD.__wab_instance {
  font-size: var(--token-sy0p7LKs93CB);
  line-height: var(--token-eEaqk8ABky-p);
}
.Button__rootroundedFull__xgbPsClUgM.__wab_instance {
  border-radius: 99px;
}
.Button__rootflatSide_top__xgbPsrY4Aa.__wab_instance {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.Button__rootflatSide_right__xgbPsTsNic.__wab_instance {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__rootflatSide_bottom__xgbPsYzphb.__wab_instance {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__rootflatSide_left__xgbPsOctxj.__wab_instance {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__softBackground__wuAtt {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-9cxd2DnwYD0y);
  border-radius: var(--token-KUTLCZWvE9WI);
}
.Button__softBackgroundcolor_neutral__wuAttrjuyc {
  background: var(--token-l1zjDaMkTasi);
}
.Button__softBackgroundcolor_muted__wuAtt3CIj {
  background: var(--token-4ffoqRJNkDKV);
}
.Button__softBackgroundcolor_success__wuAtto2CMc {
  background: var(--token-UWk3yX0SdgGW);
}
.Button__softBackgroundcolor_warning__wuAttPfgTi {
  background: var(--token-6UYcTx3YvpsM);
}
.Button__softBackgroundcolor_errorDestructive__wuAttpzRJc {
  background: var(--token-ZcleU96HQBS6);
}
.Button__softBackgroundtype_soft__wuAttZ1DKg {
  display: block;
}
.Button__roottype_bordered__xgbPsRsVQ[data-hovered]
  .Button__softBackgroundtype_bordered__wuAttRsVQ {
  display: block;
}
.Button__roottype_bordered__xgbPsRsVQ[data-pressed]
  .Button__softBackgroundtype_bordered__wuAttRsVQ {
  display: block;
}
.Button__softBackgroundroundedFull__wuAttClUgM {
  border-radius: 99px;
}
.Button__border__afzzK {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-KUTLCZWvE9WI);
  border: 0px solid var(--token-TD_NaQApzt57);
}
.Button__bordercolor_neutral__afzzKrjuyc {
  border-color: var(--token-vpC85DkwuDwE);
}
.Button__bordercolor_muted__afzzK3CIj {
  border-color: var(--token-QE1DT1JnBMNJ);
}
.Button__bordercolor_success__afzzKo2CMc {
  border-color: var(--token-mrWnW2jzs2AZ);
}
.Button__bordercolor_warning__afzzKPfgTi {
  border-color: var(--token-oy3p8hSbKMiz);
}
.Button__bordercolor_errorDestructive__afzzKpzRJc {
  border-color: var(--token-d_tN_iK4_4IR);
}
.Button__bordertype_bordered__afzzKrsVQ {
  background: none;
  display: block;
  border-width: 1px;
}
.Button__borderroundedFull__afzzKclUgM {
  border-radius: 99px;
}
.Button__borderflatSide_top__afzzKrY4Aa {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.Button__borderflatSide_right__afzzKTsNic {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_bottom__afzzKYzphb {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_left__afzzKoctxj {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__interactionEffect__q9ONe {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-KUTLCZWvE9WI);
}
.Button__root__xgbPs[data-hovered] .Button__interactionEffect__q9ONe {
  background: var(--token-QtlySrsEArAy);
}
.Button__root__xgbPs[data-disabled] .Button__interactionEffect__q9ONe {
  background: var(--token-IXg4bDSm9pFK);
}
.Button__root__xgbPs[data-pressed] .Button__interactionEffect__q9ONe {
  background: var(--token-AGsv6GbAbYtM);
}
.Button__roottype_bordered__xgbPsRsVQ[data-hovered]
  .Button__interactionEffecttype_bordered__q9ONeRsVQ {
  display: none;
}
.Button__interactionEffectroundedFull__q9ONeClUgM {
  border-radius: 99px;
}
.Button__freeBox__tMh9V {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-KUTLCZWvE9WI) var(--token-rbYqH4jbuV2k);
}
.Button__freeBox__tMh9V > .__wab_flex-container {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-KUTLCZWvE9WI));
  width: calc(100% + var(--token-KUTLCZWvE9WI));
}
.Button__freeBox__tMh9V > .__wab_flex-container > *,
.Button__freeBox__tMh9V > .__wab_flex-container > .__wab_slot > *,
.Button__freeBox__tMh9V > .__wab_flex-container > picture > img,
.Button__freeBox__tMh9V > .__wab_flex-container > .__wab_slot > picture > img {
  margin-left: var(--token-KUTLCZWvE9WI);
}
.Button__freeBoxsize_extraSmall__tMh9V6Sg0O {
  padding: var(--token-Sf7MisVjeNs9) var(--token-KUTLCZWvE9WI);
}
.Button__freeBoxsize_small__tMh9VyOlM7 {
  padding: var(--token-KUTLCZWvE9WI) var(--token-1yAWlEHsqo04);
}
.Button__freeBoxsize_large__tMh9VBHgii {
  padding-top: var(--token-Sf7MisVjeNs9);
  padding-bottom: var(--token-Sf7MisVjeNs9);
}
.Button__freeBoxsize_extraLarge__tMh9VDd4HD {
  padding-left: var(--token-0OfEqfC_nxqA);
  padding-right: var(--token-0OfEqfC_nxqA);
}
.Button__freeBoxroundedFull__tMh9VClUgM {
  padding-right: var(--token-0OfEqfC_nxqA);
  padding-left: var(--token-0OfEqfC_nxqA);
}
.Button__freeBox__bQv2Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconStart__bQv2Q785Ix {
  display: flex;
}
.Button__slotTargetStart__nJKwQ {
  color: var(--token-Ukt8qwbxLWxN);
}
.Button__slotTargetStartcolor_neutral__nJKwQrjuyc {
  color: var(--token-gQ2TSw_uS2rT);
}
.Button__slotTargetStartcolor_muted__nJKwQ3CIj {
  color: var(--token-Q-G4ncyMn9gK);
}
.Button__slotTargetStartcolor_success__nJKwQo2CMc {
  color: var(--token-XL9rMAzYEBl9);
}
.Button__slotTargetStartcolor_warning__nJKwQPfgTi {
  color: var(--token-naplD4pygCGf);
}
.Button__slotTargetStartcolor_errorDestructive__nJKwQpzRJc {
  color: var(--token-dUt_7vaz8gzS);
}
.Button__slotTargetStarttype_soft__nJKwQz1DKg {
  color: var(--token-JWBWeX1oDhOi);
}
.Button__slotTargetStarttype_bordered__nJKwQrsVQ {
  color: var(--token-JWBWeX1oDhOi);
}
.Button__slotTargetStartsize_extraSmall__nJKwQ6Sg0O {
  font-size: var(--token-m97AIwKctmUg);
}
.Button__slotTargetStartsize_small__nJKwQyOlM7 {
  font-size: var(--token-m97AIwKctmUg);
}
.Button__slotTargetStartsize_large__nJKwQbHgii {
  font-size: var(--token-sy0p7LKs93CB);
}
.Button__slotTargetStartsize_extraLarge__nJKwQdd4HD {
  font-size: var(--token-sy0p7LKs93CB);
}
.Button__slotTargetStarttype_soft_color_neutral__nJKwQz1DKgRjuyc {
  color: var(--token-8NZJOcSNtqIt);
}
.Button__slotTargetStarttype_bordered_color_neutral__nJKwQrsVQRjuyc {
  color: var(--token-8NZJOcSNtqIt);
}
.Button__slotTargetStartcolor_muted_type_soft__nJKwQ3CIjZ1DKg {
  color: var(--token-T_wvyY7f2MJO);
}
.Button__slotTargetStartcolor_muted_type_bordered__nJKwQ3CIjRsVQ {
  color: var(--token-T_wvyY7f2MJO);
}
.Button__slotTargetStarttype_soft_color_success__nJKwQz1DKgO2CMc {
  color: var(--token-QcSC1iuQAa3A);
}
.Button__slotTargetStarttype_bordered_color_success__nJKwQrsVQO2CMc {
  color: var(--token-QcSC1iuQAa3A);
}
.Button__slotTargetStartcolor_warning_type_soft__nJKwQPfgTiZ1DKg {
  color: var(--token-Ux3vjW2d5GU_);
}
.Button__slotTargetStartcolor_warning_type_bordered__nJKwQPfgTiRsVQ {
  color: var(--token-Ux3vjW2d5GU_);
}
.Button__slotTargetStarttype_soft_color_errorDestructive__nJKwQz1DKgPzRJc {
  color: var(--token-QUj5oh6Swg15);
}
.Button__slotTargetStarttype_bordered_color_errorDestructive__nJKwQrsVQPzRJc {
  color: var(--token-QUj5oh6Swg15);
}
.Button__svg__xQoq7 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.Button__slotTargetLabel__q9U2K {
  color: var(--token-Ukt8qwbxLWxN);
}
.Button__slotTargetLabelcolor_neutral__q9U2Krjuyc {
  color: var(--token-gQ2TSw_uS2rT);
}
.Button__slotTargetLabelcolor_muted__q9U2K3CIj {
  color: var(--token-Q-G4ncyMn9gK);
}
.Button__slotTargetLabelcolor_success__q9U2Ko2CMc {
  color: var(--token-XL9rMAzYEBl9);
}
.Button__slotTargetLabelcolor_warning__q9U2KPfgTi {
  color: var(--token-naplD4pygCGf);
}
.Button__slotTargetLabelcolor_errorDestructive__q9U2KpzRJc {
  color: var(--token-dUt_7vaz8gzS);
}
.Button__slotTargetLabeltype_soft__q9U2Kz1DKg {
  color: var(--token-JWBWeX1oDhOi);
}
.Button__slotTargetLabeltype_bordered__q9U2KrsVQ {
  color: var(--token-JWBWeX1oDhOi);
}
.Button__slotTargetLabeltype_soft_color_neutral__q9U2Kz1DKgRjuyc {
  color: var(--token-8NZJOcSNtqIt);
}
.Button__slotTargetLabelcolor_muted_type_soft__q9U2K3CIjZ1DKg {
  color: var(--token-T_wvyY7f2MJO);
}
.Button__slotTargetLabeltype_bordered_color_neutral__q9U2KrsVQRjuyc {
  color: var(--token-8NZJOcSNtqIt);
}
.Button__slotTargetLabeltype_soft_color_success__q9U2Kz1DKgO2CMc {
  color: var(--token-QcSC1iuQAa3A);
}
.Button__slotTargetLabelcolor_muted_type_bordered__q9U2K3CIjRsVQ {
  color: var(--token-T_wvyY7f2MJO);
}
.Button__slotTargetLabelcolor_warning_type_soft__q9U2KPfgTiZ1DKg {
  color: var(--token-Ux3vjW2d5GU_);
}
.Button__slotTargetLabeltype_bordered_color_success__q9U2KrsVQO2CMc {
  color: var(--token-QcSC1iuQAa3A);
}
.Button__slotTargetLabeltype_soft_color_errorDestructive__q9U2Kz1DKgPzRJc {
  color: var(--token-QUj5oh6Swg15);
}
.Button__slotTargetLabelcolor_warning_type_bordered__q9U2KPfgTiRsVQ {
  color: var(--token-Ux3vjW2d5GU_);
}
.Button__slotTargetLabeltype_bordered_color_errorDestructive__q9U2KrsVQPzRJc {
  color: var(--token-QUj5oh6Swg15);
}
.Button__text__fehWr {
  white-space: pre;
}
.Button__freeBox__rG1Mo {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconEnd__rG1Mo6BBj {
  display: flex;
}
.Button__slotTargetEnd__niol7 {
  color: var(--token-Ukt8qwbxLWxN);
}
.Button__slotTargetEndcolor_neutral__niol7Rjuyc {
  color: var(--token-gQ2TSw_uS2rT);
}
.Button__slotTargetEndcolor_muted__niol73CIj {
  color: var(--token-Q-G4ncyMn9gK);
}
.Button__slotTargetEndcolor_success__niol7O2CMc {
  color: var(--token-XL9rMAzYEBl9);
}
.Button__slotTargetEndcolor_warning__niol7PfgTi {
  color: var(--token-naplD4pygCGf);
}
.Button__slotTargetEndcolor_errorDestructive__niol7PzRJc {
  color: var(--token-dUt_7vaz8gzS);
}
.Button__slotTargetEndtype_soft__niol7Z1DKg {
  color: var(--token-JWBWeX1oDhOi);
}
.Button__slotTargetEndtype_bordered__niol7RsVQ {
  color: var(--token-JWBWeX1oDhOi);
}
.Button__slotTargetEndsize_extraSmall__niol76Sg0O {
  font-size: var(--token-m97AIwKctmUg);
}
.Button__slotTargetEndsize_small__niol7YOlM7 {
  font-size: var(--token-m97AIwKctmUg);
}
.Button__slotTargetEndsize_large__niol7BHgii {
  font-size: var(--token-sy0p7LKs93CB);
}
.Button__slotTargetEndsize_extraLarge__niol7Dd4HD {
  font-size: var(--token-sy0p7LKs93CB);
}
.Button__slotTargetEndtype_soft_color_neutral__niol7Z1DKgRjuyc {
  color: var(--token-8NZJOcSNtqIt);
}
.Button__slotTargetEndtype_bordered_color_neutral__niol7RsVQRjuyc {
  color: var(--token-8NZJOcSNtqIt);
}
.Button__slotTargetEndcolor_muted_type_soft__niol73CIjZ1DKg {
  color: var(--token-T_wvyY7f2MJO);
}
.Button__slotTargetEndcolor_muted_type_bordered__niol73CIjRsVQ {
  color: var(--token-T_wvyY7f2MJO);
}
.Button__slotTargetEndtype_soft_color_success__niol7Z1DKgO2CMc {
  color: var(--token-QcSC1iuQAa3A);
}
.Button__slotTargetEndtype_bordered_color_success__niol7RsVQO2CMc {
  color: var(--token-QcSC1iuQAa3A);
}
.Button__slotTargetEndcolor_warning_type_soft__niol7PfgTiZ1DKg {
  color: var(--token-Ux3vjW2d5GU_);
}
.Button__slotTargetEndcolor_warning_type_bordered__niol7PfgTiRsVQ {
  color: var(--token-Ux3vjW2d5GU_);
}
.Button__slotTargetEndtype_soft_color_errorDestructive__niol7Z1DKgPzRJc {
  color: var(--token-QUj5oh6Swg15);
}
.Button__slotTargetEndtype_bordered_color_errorDestructive__niol7RsVQPzRJc {
  color: var(--token-QUj5oh6Swg15);
}
.Button__svg__wdQyu {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
