.Description__root__xMcIv.__wab_instance {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-MEZO7K8LWxnz);
  font-family: var(--token-TRASPbHxa2WW);
  font-size: var(--token-nmMmwmLKCJSv);
  line-height: var(--token-dgzuTUUD1mTO);
  position: relative;
}
.Description__freeBox__cwvct {
  position: relative;
  display: flex;
}
