.SliderThumb__root___7PB7W.__wab_instance {
  position: relative;
  background: var(--token-TDBB_DJzxsaP);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-Xw6x3p7snPpg);
  width: var(--token-Xw6x3p7snPpg);
  border-radius: 99px;
  border: 1px solid var(--token-hlcyQeU5AGn0);
}
.SliderThumb__root___7PB7W[data-hovered].__wab_instance {
  border-width: 2px;
}
.SliderThumb__root___7PB7W[data-focus-visible].__wab_instance {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-hlcyQeU5AGn0);
  outline-offset: 1px;
}
